#network_edges, #abbreviations, #abbreviation-explanation, #metrics, .metrics
{
  font-size: 80%
}

h3.metrics {
  font-size: 120%
}

#DataTables_Table_7 > tbody > tr:nth-child(2) > td:nth-child(1)

#network_edges table.dataTable td,
#network_edges table.dataTable th,
#abbreviations table.dataTable td,
#abbreviations table.dataTable th,
#metrics table.dataTable td,
#metrics table.dataTable th
{
  padding: 2px;
  vertical-align: top;
}

#network_edges table.dataTable tbody tr td:last-child {
  text-align: right;
  width: 10%;
}

#network_edges table.dataTable thead tr th:last-child {
  padding-left: 5px;
  width: 10%;
}
